{
  "extends": "eslint-config-lob",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "API_KEY": false,
    "expect": false,
    "HAS_LIVE_KEY": false,
    "INTEGRATION_TIMEOUT": false,
    "LiveLob": false,
    "Lob": false,
    "mocks": false
  }
}
